/*  ---- FOOTER ----- */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    background-color: black
}

.nav-items ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    text-decoration: none;
}
.nav-items li {
    text-decoration: none;
    list-style: none;   
}
.nav-items a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: var(--font-white);
    color: var(--bg-off-white);
    /* letter-spacing: 0.2rem; */
   
}
#current {
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: var(--font-white);
    color: green;
}
.logo-div {
    cursor: pointer;
   
}
.logo-div a {
    color: var(--font-white);
}
#show-menu {
    font-size: 2rem;
    font-weight: 500;
    color: var(--font-white);
}

li {
    list-style: none;
   
}
a {
    color: white;

}
.nav-items ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-decoration: none;
}

footer{
    width: 100%;
    height: 30vh;
    position: absolute;
    background-color: rgb(43, 42, 42);
    color: var(--font-white);
}

.footer-container{
    display: flex;
    justify-content:space-around;
    align-items: center;

}
.footer__items {
    justify-content: center;
}
.footer__items h1, h2, p {
    margin: 10px;
}
.input-div , label {
    margin: 10px;
}
.input-div label {
    margin: 10px;
}
.social-media{
    display: flex;
}
.social-media li{
    margin: 20px;
    display: flex;
}
.social-media a{
    color: #acaaad;
    margin-bottom: 20px;
}
.social-media li{
    color: #acaaad;
    margin-bottom: 20px;
    list-style: none;
}



@media (max-width: 900px){
    nav li{
        display: none;
    }
    .nav-items ul {
        gap: 20px;
    }
    #show-menu {
        display: block;
    }
    .footer-container{
        display: flex;
        flex-direction: column;
    }
    .footer__items {
        margin: 4%;
    }
    .social-media  {
        display: flex;
        justify-content: space-around;
    }
    .social-media ul  {

        justify-content: space-around;
    }
    .gallery-section {
        height: 269vh;
    }

}